.FlashDealDiv{
    display: flex;
    flex-direction: column;
    padding: 55px 4px;
    /* background-color: aqua; */
    max-width: 1280px;
    margin: auto;
}
.FlashRowDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
    /* padding-right: 18px; */
    /* padding: 0 18px; */
}
.ThreeBoxMainDiv{
    width: 100%;
    max-width: 1280px;
    margin: auto;
    /* background-color: aqua; */
    padding: 52px 12px 2px;
}
.ThreeBoxDiv{
    padding-left: 4px;
    width: 80%;
}
.ThreeBoxHeadDiv{
    display: flex;
    justify-content: space-between;
}
.ThreeBoxHeading{
    padding: 8px;
    padding-left: 10px;
    font-size: 24px;
    font-weight: 800;
}
.flashBox{
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: white;
    margin: 12px;
    box-shadow: 0 1px 3px rgba(3, 0, 71, 0.09);
    border-bottom: 2px solid rgba(3, 0, 71, 0.09);
    border-radius: 10px;
    overflow: hidden;
}
.flashBox2{
    width: calc(33.33% - 24px);
    /* width: calc(33.33%-4px); */
}
.MiniDiv{
    width: 19.3%;
    margin-bottom: auto;
    padding: 20px;
}
.MiniChildDiv{
    border-radius: 4px;
    margin-bottom: 12px;
    background-color: rgb(246, 249, 252);
    width: 100%;
    font-family: 'Open Sans', sans-serif !important;
    /* padding: 11px; */
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 17px;
    padding: 0.75rem 1rem;
    /* line-height: 1.5; */
    letter-spacing: 0.5px;
    /* font-weight: 500; */
}
.MiniChildLastDiv{
    display: flex;
    justify-content: center;
    /* text-align: center; */
    margin-top: 50px;
    margin-bottom: 0;
    padding: 11px;
    font-size: 16px;
}
.MiniDivIcons{
    width: 30px;
    margin: 0 15px 0 0px;
}
.MiniDivHead{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;    
    gap: 16px;
    margin-bottom: 18px;
}
.MiniChildDiv2{
    margin-top: 60px;
    margin-left: 16px;
}
.lightGrayCol{
    color: rgb(220, 220, 220);
    padding-bottom: 2px;
}
.flashImg{
    width: 100%;
}
.flashHead{
    font-size: 26px;
    font-weight: bolder;
}
.flashIcon{
    font-size: 24px;
    margin: 0 7px;
    color: rgb(210, 63, 87);
}
.headingMainDiv{
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;
    margin-left: 13px;
}
.viewHead{
    color: gray;
    font-size: 13px;
    margin-right: 4px;
}
.rightIcon{
    color: gray;
    fill: currentColor;
    font-size: 13px;
}
.viewHeadDiv{
    margin-right: 20px;
}
.viewHeadDiv2{
    margin-right: 15px;
}
.viewHeadDiv3{
    margin-right: 25px;
}
.viewHeadDiv4{
    margin-right: 32px;
}
.fullWidth{
    display: flex;
    width: 100%;
    padding: 0 20px 0 7px;
}
.carousalDiv{
    width: 200%;
    transition: 0.3s ease;
}
.carousalDiv2{
    width: 166.67%;
    transition: 0.3s ease;
}
.ThirdCarMainDiv{
    width: 150%;
}
@media screen and (max-width: 949px){
    .carousalDiv{
        width: 266.65%;
    }
    .carousalDiv2{
        width: 250%;
    }
    .ThirdCarMainDiv{
        width: 225%;
    }
}
@media screen and (max-width: 649px){
.carousalDiv{
    width: 400%;
}
.carousalDiv2{
    width: 500%;
}
.ThirdCarMainDiv{
    width: 450%;
}
}
@media screen and (max-width: 499px){
.carousalDiv{
    width: 800%;
}
.ThirdCarMainDiv{
    width: 900%;
}
}
.div80{
    /* position: relative; */
    width: 100%;
    max-width: 1280px;
    overflow: hidden;
    z-index: 9;
}
.carArrow{
    position: absolute;
    top: 44.5%;
    font-size: 40px;
    border-radius: 100%;
    color: white;
    fill: currentColor;
    padding: 10px;
    background-color: #0F3460;
    font-weight: 800;
    z-index: 10;
}
.carLeft{
    left: 0;
}
.carRight{
    right: 0;
}
.flashRelative{
    position: relative;
}
.offPrice{
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: rgb(210, 63, 87);
    font-size: 10px;
    padding: 5px 11px;
    border-radius: 20px;
}
.boxData{
    padding: 10px 0 17px;
}
.spaceBetween{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: space-between; */
    /* margin: 15px; */
    margin-right: 16px;
}
.redCol{
    display: flex;
    align-self: flex-end;
    color: rgb(210, 63, 87);
    font-size: 22px;
    padding: 0 5.5px 0 6.5px;
    line-height: 1.2;
    border-radius: 3px;
    border: 1px solid rgba(210, 63, 87, 0.6);
    font-weight: bold;
    cursor: pointer;
}
.minusSign{
    line-height: 1.2;
    display: flex;
    /* display: flex; */
    /* padding-bottom: 25px; */
    opacity: 1 !important;
    /* padding-top: -10px; */
}
.blackNum{
    display: flex;
    justify-content: center;
    line-height: 1.5;
    /* align-items: center; */
    opacity: 1 !important;
}
.hidden{
    opacity: 0 !important;
    cursor: context-menu;
    /* display: none; */
}
.column{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.boxDataChild{
    font-size: 14px;
    padding: 5px 15px 0;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    margin-bottom: 1.5px;
}
.starDiv{
    font-size: 18px;
    color: #faaf00;
    fill: currentColor;
    /* gap: 10px !important; */
}
.starDiv2{
    gap: 4px !important;
    margin-top: 3px;
}
.newPrice{
    font-size: 14px;
    color: rgb(210, 63, 87);
    padding-right: 9px;
}
.oldPrice{
    font-size: 14px;
    color: gray;
    text-decoration: line-through;
}
@media screen and (max-width: 1280px){
.flashBox2{
    width: calc(50% - 24px) !important;
}
}
@media screen and (max-width: 960px){
    .MiniDiv{
        display: none !important;
    }
    .ThreeBoxDiv{
        width: 100%;
    }
    .wrap{
        width: 100%;
    }
    .flashBox2{
        /* width: 48% !important; */
    }
}
@media screen and (max-width: 599px){
    .fullWidth{
        padding: 0;
    }
    .headingMainDiv{
        margin-left: 4px;
    }
    .ThreeBoxDiv{
        padding: 0;
    }
    .ThreeBoxMainDiv{
        padding: 52px 4px 2px;
    }
    .flashBox2{
        width: 100% !important;
    }
}
@media screen and (min-width: 0){
    .carousalDiv4{
        width: 200%;
    }
}