.PageBody{
    background-color: #F6F9FC;
    /* padding: 0 30px; */
}
.TwoImgDiv{
    width: 100%;
    padding: 55px 24px 10px;
    max-width: 1280px;
    margin: auto;
    height: auto;
    display: flex;
}
.firstImg{
    width: 33%;
    padding-right: 12px;
}
.secondImg{
    width: 67%;
    padding-left: 12px;
}