.PageBody{
    background-color: #F6F9FC;
    /* padding: 0 30px; */
}
.TwoImgDiv{
    width: 100%;
    padding: 55px 24px 10px;
    max-width: 1280px;
    margin: auto;
    height: auto;
    display: flex;
}
.firstImg{
    width: 33%;
    padding-right: 12px;
}
.secondImg{
    width: 67%;
    padding-left: 12px;
}
@media screen and (max-width: 959px){
    .TwoImgDiv{
        display: flex;
        flex-wrap: wrap;
        padding: 55px 16px 10px;
    }
    .firstImg{
        width: 100%;
        padding: 0;
    }
    .secondImg{
        width: 100%;
        padding: 0;
        padding-top: 29px;
    }
}