.CartMainDiv{
    width: 380px;
    height: 100%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 10px -5px, rgba(0, 0, 0, 0.14) 0px 16px 24px 2px, rgba(0, 0, 0, 0.12) 0px 6px 30px 5px;
}
.cartFixed{
    position: fixed;
    z-index: 80;
    top: 0;
    /* right: -20px; */
    /* left: 20px !important; */
    /* z-index: 30; */
    height: 100%;
    width: 100%;
}

.emptCartFixed{
    width: 210px;
}


.bgGrayBody{
    /* width: calc(100%-380px); */
    /* width: 73%; */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.rowFirstItemsDiv{
    display: flex;
    align-items: center;
}

.rowItemsDiv{
    padding: 24px;
    padding-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgba(128, 128, 128, 0.1);
}
.cartScrollDiv{
    height: 79.7%;
    width: 100%;
    overflow-y: scroll !important;
}
.noScrollDiv{
    height: 79.7%;
}
.shoppingBagIcon{
    font-size: 25px;
    margin-right: 7px;
}
.cartItemQuant{
    font-size: 14px;
    margin-bottom: 7px;    
}
.closeIcon{
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    margin-right: 12px;
    cursor: pointer;
}
.closeChildIcon{
    font-size: 14px;
    margin-bottom: 0;
    color: rgba(128, 128, 128, 0.3) !important;
    fill: currentColor !important;
}
.downButton{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    gap: 12px;
}
.cartDownButton{
    font-weight: 600;
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding: 10.5px;
    width: 100%;
    border-radius: 4px;
}
button{
    cursor: pointer;
}
.checkOutBut{
    background-color: rgb(210, 63, 87);
    color: white;
    padding: 11.5px;
}   
.viewCartBut{
    background-color: white;
    color: rgb(210, 63, 87);
    border: 1px solid rgb(210, 63, 87);
}
.cartItems{
    padding: 17px 20px;
    padding-right: 16px;
    border-bottom: 1px solid rgba(210, 210, 210, 0.3);
}
.redCircleCol{
    border-radius: 50%;
    padding: 0 8px;
    font-size: 24px;
    /* padding-bottom: 5px; */
}
.blackCircleCol{
    border: 1px solid rgba(210, 210, 210, 0.6);
    color: rgb(200, 200, 200);
}
.minusCircle{
    padding-bottom: 2px;
}
.cartItemNum{
    display: flex;
    justify-content: center;
    padding: 2.5px 0;
}
.cartItemImg{
    width: 78px;
    margin-left: 16px;
}
.cartIntroDiv{
    width: 100%;
    margin: 0 14px;
    font-size: 14px;
    /* gap: 15px; */
    height: 100% !important;
    /* background-color: aqua !important; */
}
.cartIntroName{
    font-size: 14px;
    padding-bottom: 6px;
}
.cartIntroPrice{
    font-size: 10px;
    color: rgba(128, 128, 128, 0.8);
    padding-bottom: 7px;
}
.cartIntroTotalPrice{
    color: rgb(210, 63, 87);
}
.emptCartBag{
    display: flex;
    flex-direction: column;
    height: 100%;
    /* margin: 132px 0; */
    justify-content: center;
    /* align-content: center; */
}
.emptCartPara{
    line-height: 1.8;
    font-size: 14px;
    color: rgba(128, 128, 128, 0.8);
    padding-top: 15px;
    text-align: center;
}