.newArrivalMainDiv{
    padding: 10px 24px;
    max-width: 1280px;
    margin: auto;
    /* font-size: 30px; */
}
.newIcon{
    width: 30px !important;
    /* font-size: 10px !important; */
}
.newArrHead{
    margin-left: 6px;
}
.newArrHeadDiv{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
}
.newArrPrice{
    padding: 0;
}
.BigDiscountDiv{
    max-width: 1280px;
    margin: auto;
    padding: 62px 4px 0 4px;
}
