
.FooterDiv{
    width: 100%;
    height: 405px;
    background-color: #222935;
    color: #AEB4BE;
    padding: 30px;
}
.FootCol1{
    width: 34.7%;
    padding: 0 28px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.FootCol1Para{
    font-size: 13.7px;
    line-height: 1.75;
    padding: 20px 0 20px;
    font-family: 'Open Sans', sans-serif !important;
}
.footBazarImg{
    width: fit-content;
}
.footerButton{
    margin-right: 16px;
    background-color: #161d2b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 14px;
    border-radius: 5px;
}
.footerButtonSpan{
    font-size: 8.5px;
    padding: 2px 0;
}
.footerButtonParaDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding: 0 5px;
}
.footerButIcon{
    color: rgb(71, 175, 223);
    font-size: 26px;
}
.footerAppIcon{
    font-weight: bold;
    font-size: 14px;
}
.SecondFootCol{
    margin-top: 64px;
    width: 16.2%;
    /* margin-right: 50px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}
.ThirdFootCol{
    width: 24.3%;
}
.ForthFootCol{
    width: 24.3%;
}
.SecondFootHead{
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}
.SecondFootPara{
    font-size: 13.5px;
    padding: 5.2px 0;
    line-height: 1.5;
}
.FooterAllSocialIcons{
    margin-top: 18px;
}
.FooterSocialIcons{
    color: rgba(255, 255, 255, 0.9);
    font-size: 32px;
    margin-right: 8px;
    padding: 8px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}