
.FooterDiv{
    width: 100%;
    height: 405px;
    background-color: #222935;
    color: #AEB4BE;
    padding: 16px 24px;
}
.FooterChildDiv{
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.FootCol1{
    width: 34.7%;
    padding: 0 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.FootCol1Para{
    font-size: 13.7px;
    line-height: 1.75;
    padding: 20px 0 20px;
    font-family: 'Open Sans', sans-serif !important;
}
.footBazarImg{
    width: fit-content;
}
.footerButton{
    margin-right: 16px;
    background-color: #161d2b;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 14px;
    border-radius: 5px;
}
.footerButtonSpan{
    font-size: 8.5px;
    padding: 2px 0;
}
.footerButtonParaDiv{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding: 0 5px;
}
.footerButIcon{
    color: rgb(71, 175, 223);
    font-size: 26px;
}
.footerAppIcon{
    font-weight: bold;
    font-size: 14px;
}
.SecondFootCol{
    width: 16.2%;
    display: flex;
    flex-direction: column;
}
.ThirdFootCol{
    width: 24.6%;
}
.ForthFootCol{
    width: 24.5%;
}
.FooterChild{
    /* padding: 1rem; */
}
.SecondFootHead{
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}
.SecondFootPara{
    font-size: 13.5px;
    padding: 5.2px 0;
    line-height: 1.5;
}
.FooterAllSocialIcons{
    margin-top: 18px;
}
.FooterSocialIcons{
    color: rgba(255, 255, 255, 0.9);
    font-size: 32px;
    margin-right: 8px;
    padding: 8px;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1279px){
    .FooterChildDiv{
        /* height: fit-content; */
        display: flex;
        flex-wrap: wrap;
    }
    .FooterDiv{
        height: fit-content;
    }
    .FooterChild{
        padding: 1rem;
        width: 50%;
    }
}
@media screen and (max-width: 899px){
    .FooterDiv{
        padding: 88px 16px;
        padding-bottom: 80px;
}
}
@media screen and (max-width: 599px){
    .FooterChild{
        width: 100%;
        padding: 10px 0;
    }
}