
.FooterDiv{
    width: 100%;
    height: 405px;
    background-color: #222935;
    color: #AEB4BE;
    padding: 30px;
}
.FootCol1{
    width: 35%;
    padding: 0 30px;
    /* font-size: 14px; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.FootCol1Para{
    font-size: 14px;
    line-height: 1.75;
    padding: 20px 0 20px;
    word-spacing: 0.3px;
    letter-spacing: 0.3px;
    font-family: sans-serif;
}
.footBazarImg{
    width: fit-content;
}
.footerButton{
    width: 145px;
    margin-right: 16px;
    height: 50px;
    background-color: #161d2b;
    color: white;
}