@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
--background-start-rgb: none !important;
}
body{
    font-family: '__Open_Sans_c8a2b8','__Open_Sans_Fallback_c8a2b8';
}
.navbar1MainDiv{
    background-color: #2B3445;
}
.blueBgColor{
    height: 40px;   
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
    justify-content: space-between;
    color:  white !important;
    transition: 0.2s ease;
}
.navbar{
    border-bottom: 1px solid #F3F5F9;
}
.navbarChildDiv{
    max-width: 1280px;
    margin: auto;
    position: relative;
}
.firstNavParaDiv{
    color: white;
    display: flex;
    flex-direction: row;
    padding: 8px 24px;
    align-items: center;
}
.hideIcons{
    display: none;
    color: white;
}
.bgRedBut{
    font-family: sans-serif;
    font-weight: 800 !important;
    font-size: 12px;
    color: white;
    background-color: rgb(210, 63, 87);
    border-radius: 12px;
    width: fit-content;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0 12px;
}
.shipNavPara{
    color: white;
    font-size: 12px;
    margin: 0 8px;
    /* font-family: '__Open_Sans_c8a2b8', sans-serif; */
    /* font-family: '__Open_Sans_c8a2b8 , __Open_Sans_Fallback_c8a2b8'; */
}
.langDivCol{
    display: flex;
    flex-direction: column;
    position: relative;
}
.langDiv{
    background-color: #2B3445;
    border: none;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 12px;
    padding: 0 11px;
    /* margin-right: 11px !important; */
}
.multiIcon{
    color: white !important;
    fill: currentColor;
    font-size: 17px;
    margin-left: 10px;
    margin-bottom: 4px;
}
.whiteBgColor{
    background-color: white;
    display: flex;
    flex-direction: row;
}
.posFixed{
    box-shadow: 0 1px 3px rgba(3, 0, 71, 0.09);
    margin-top: 0;
    transition: 0.3s ease;
    position: fixed;
    width: 100%;
    z-index: 80;
    background-color: white;
    top: 0;
    right: 0;
}
.navbar2{
    display: flex;
    padding: 18px 24px;
    max-width: 1280px;
    margin: auto;
    flex-direction: row;
    z-index: 20;
    width: 100%;
}
.loading{
    transition: none;
    margin-top: -100px;
}
.nav3{
    padding: 9px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navPadding{
    padding-top: 90px;
}
button{
    display: flex;
    flex-direction: row;
    border: none;
}
.butIcon{
    color: black;
    font-size: 20px;
}
.catIcon{
    color: gray;
    fill: currentColor;
}
.catIconDiv{
    height: fit-content;
    display: flex;
    align-self: center;
    padding: 5px 7px;
    padding-right: 10px;
    margin-right: 40px;
    /* color: gray; */
}
.catIconDiv:hover{
    background-color: rgba(201, 201, 201, 0.1);
}
.hideIcon{
    opacity: 0;
}
.left{
    margin: 4px 2px;
    font-size: 12px;
}
.categories{
    font-family: 'Open sans', sans-serif;
    display: flex;
    font-size: 15px;
    color: gray;
    padding: 10px 8px;
}
.AllOptionDiv{
    position: absolute;
    top: 140px;
    display: flex;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
}
.AllLangDiv{
    color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40px;
    align-self: center;
    /* align-items: center; */
    background-color: white;
    z-index: 30;
    overflow: hidden;
    margin: 2px 0;
    color: rgba(128, 128, 128, 0.5) !important;
    width: 50px;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.2);
    /* right: 0; */
}
.AllCatDiv{
    position: absolute;
    top: 102px;
    display: flex;
    flex-direction: column;
    background-color: white !important;
    align-items: flex-start;
    /* z-index: 100; */
    opacity: 1 !important;
    width: 121px;

}
.hideOption{
    display: none;
    opacity: 0;
}
.navCatOptionPara{
    width: 262px;
    padding: 10.5px 10px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    /* justify-content: flex-start; */
    align-items: flex-start;
    /* width: 100%; */
    /* padding: 10px ; */
}
.navCatOptionPara2{
    /* height: inherit; */
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    width: 25%;
}
.navCatOptionPara3{
    width: 500px !important;
    /* width: 100%; */
}
.navCatOptionHeading{
    font-size: 14px;
}
.navCatOptionhalfDiv{
    width: 25%;
    padding: 25px;
}
.langDropDown{
    /* color: black; */
    cursor: pointer;
    text-align: center;
    margin: 6px 0;
    width: 100%;
}
.noCenter{
    text-align: start;

}
.langOptionPara{
    padding: 10px 0;
    width: 100%;
    font-weight: 500;
    font-size: 15px;
    color: rgb(100, 100, 100);
}
.allCatOptionPara{
    background-color: white;
    font-size: 14px;
    padding: 9px 15px;
    /* color: black; */
}
.langOptionPara:hover{
    background-color: rgba(128, 128, 128, 0.2);
}
.firstDropDown{
    margin-right: 8px;
    background-color: white;
    flex-direction: column;
    z-index: 60;
    box-shadow: 0 5px 3px rgba(3, 0, 71, 0.09);
}
.secondDropDown{
    padding: 20px;
    margin-left: 10px;
    width: 760px;
    display: flex;
    align-items: flex-start !important;
    background-color: white;
    flex-direction: column;
    z-index: 60;
    box-shadow: 0 5px 3px rgba(3, 0, 71, 0.09);
}
.secondDropDown2{
    border-radius: 5px;
    height: fit-content;
    padding: 10px 20px;
    margin-left: 10px;
    width: 280px;
    background-color: white;   
    display: flex;
    align-items: flex-start !important;
    background-color: white;
    justify-content: space-between;
    flex-direction: column;
    z-index: 60;
    box-shadow: 0 5px 3px rgba(3, 0, 71, 0.09);
}
.secondDropDownLeft{
    width: 200px;
}
.secondDropDownDiv{
    background-color: white;
    display: flex;
    align-items: flex-start !important;
    flex-wrap: wrap;
    width: calc(100%-150px);
}
.secondDropDownDiv2{
    /* background-color: yellow; */
    width: 100%;
}
.megaMenuDiv{
    width: 100%;
   /* background-color: aqua;  */
}
.dropDownPara{
    padding: 10px 0;
    font-size: 14px;
}
.dropDownNameDiv{
    display: flex;
    justify-content: space-between !important;
}
.dropDownLargePara{
    width: 25%;
    text-align: center;
    padding: 20px;
    /* background-color: aqua; */
}
.navCatOptionhalfDiv2{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: wrap;
}
.column{
    display: flex;
    flex-direction: column;
}
.firstDropDown{
    cursor: pointer;
    padding: 7px;
}
.catPara{
    padding: 0 140px 0 9px;
}
.noBorder{
    border: none;
    outline: none;
    font-size: 15px;
    width: 100%;
    color: #2B3445;
}

.inputDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* outline: 3px solid rgb(210, 63, 87); */
    border: 1px solid rgb(200, 200, 200);
    border-radius: 30px;
    overflow: hidden;
    margin: 0 auto;
    color: #2B3445;
    width: 54.5%;
    /* opacity: 0.8; */
}   
.row{
    display: flex;
    flex-direction: row;
    align-items: center;    
}
.catHead{
    cursor: pointer;
    position: relative;
    height: 43px;
    box-sizing: border-box;
    white-space: pre;
    /* width: fit-content; */
    font-size: 14px;
    /* min-width: 180px; */
    display: flex;
    flex-wrap: wrap;
    padding: 0 25px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #F6F9FC;
    border-left: 1px solid rgb(220, 220, 220);
}
.centerPara{
    display: flex;
    align-items: center;
}
.searchIcon{
    padding: 0 5px;
    padding-left: 10px;
    padding-top: 2px;
    font-size: 18px;
}
.bazarPic{
    margin-right: 16px;
}
.catDownBut{
    padding-top: 3px;
    margin-left: 4px;
    margin-right: -6px;
    font-size: 16px;
}
.downCatBut{
    font-weight: 500;
    font-size: 15px;
    margin: 0;
    margin-left: 1px;
}
.twoIconDiv{
    font-size: 22px;
}
.navMainIcon{
    cursor: pointer;
    background-color: #F6F9FC;
    padding: 10px;
    border-radius: 100%;
    margin-left: 15px;
    height: 45px;
}
.cartImgDiv{
    position: relative;
}
.cartItemTopNum{
    width: fit-content;
    height: fit-content;
    background-color: rgb(210, 63, 87);
    border-radius: 100%;
    padding: 2px 7px;
    margin-bottom: auto;
    font-size: 12px !important;
    color: white;
    position: absolute;
    top: -5px;
    right: -10px;
}
.secondNavHideItems{
    display: none;
}
.BottomNavbarMainDiv{
    width: 100%;
    height: 64px;
    background-color: white;
    position: fixed;
    bottom: 0;
    z-index: 30;
    box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.1);
    display: none;
}
.bottomIcon{
    font-size: 20px !important;
    padding: 0 !important;
    /* width: 100px; */
    /* background-color: aqua; */
    /* font-size: 28px !important; */
}
.BottomNavbarChildDiv{
    font-size: 13px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
@media screen and (max-width: 1149px){
    .navMainIcon{
        background-color: white;
        margin: 0;
        padding: 10px 7px;
        border: none;
    }
    .secondNavMenu{
        padding: 10px;
        font-size: 40px;
    }
    .secondNavToHideItems{
        display: none;
    }
    .secondNavHideItems{
        display: flex;
        border-radius: 0;
        border: none;
        opacity: 1;
    }
    .twoIconDiv{
        margin-left: 25px;
    }
}

@media screen and (max-width: 599px){
    .navbar2{
        padding: 10px 16px;
    }
    .firstNavParaDiv{
        padding: 8px 16px;
    }
    .twoIconDiv{
        margin-left: 0;
        margin-right: 0;
    }
    .catIconDiv{
        display: none;
    }
}
.AllDropDownDiv{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.linkPara{
    color: #2B3445;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    padding: 7px 0 7px;
    cursor: pointer;
    padding-left: 33px;
}
.allNavDownIcon{
    color: rgb(180, 180, 180);
    padding-top: 6px;
    padding-left: 4px;
}
.dropAbsDiv{
    position: absolute;
    top: 140px;
    display: flex;
    flex-direction: row;
    /* background-color: white; */
    z-index: 50;
}
.Pages{
    display: flex;
    flex-direction: row-reverse;
    right: 19.8%;
    gap: 10px;
}

.Home{
    position: absolute;
    left: 450px;
}
.User{
    right: 11.35%;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}
.Vendor{
    right: -30px;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}
.Mega{
    top: 140px;
    left: 130px;
    /* left: 12%; */
    z-index: 50;
    height: 410px;
    width: 965px;
    /* background-color: aqua; */
    background-color: white;
    display: flex;
    box-shadow: 0 5px 45px rgba(3, 0, 71, 0.09);
    justify-content: flex-start;
    align-items: flex-start;
}
.MegaChild{
    width: 25%;
    padding: 25px 30px;
    color: rgba(0, 0, 0, 0.7);
    height: 410px;
    overflow: hidden;
}
.BlackMega{
    background-color: rgba(0, 0, 0, 0.05);
}
.Screen{
    left: 0;
    width: 100%;
    height: 492px;
    background-color: white;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
}
.FullScreenChild{
    height: 492px;
    width: 246px;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}
.hideDropExtra{
    display: none;
}
.NavHomeDiv{
    z-index: 30;
    box-shadow: 0 5px 45px rgba(3, 0, 71, 0.09);
    padding: 6px 0;
    height: fit-content;
    background-color: white;
    /* z-index: 1000; */
    opacity: 1;
}
.NavHomeChildDiv{
    /* margin: 10px; */
    display: flex;
    justify-content: space-between;
    /* align-items: sppa; */
    padding: 9px 12px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    width: 200px;
}
.FullScreenChildDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    /* background-color: black; */
    justify-content: space-between;
    padding: 16px 25px;
    /* background-color: aqua; */
}
.FullScreenChildDiv2{
    margin: 50px;
    display: flex;
    margin: auto;
    width: 80%;
    box-shadow: none;
    border: 0;
    /* display: flex; */
}
.thirdDropDown{
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    justify-content: flex-start !important;
    padding: 20px;
    margin-left: 20px;
    height: fit-content;
    width: 555px;
    /* display: flex; */
    align-items: flex-start !important;
    background-color: white;
    /* flex-direction: column; */
    z-index: 60;
    box-shadow: 0 5px 3px rgba(3, 0, 71, 0.09);
}
.navCatChild{
    padding: 14px 0;
}
@media screen and (max-width: 1149px){
    .nav3{
        display: none;
    }
    .navbar{
        border: none;
    }
    .catIconDiv{
        opacity: 0;
        /* display: none; */
    }
}
@media screen and (max-width: 899px){
    .BottomNavbarMainDiv{
        display: flex;
    }
}
@media screen and (max-width: 599px){
    .firstNavIconDiv{
        display: none;
    }
    .hideIcons{
        font-size: 20px;
        position: absolute;
        top: 8px;
        right: 18px;
        display: flex;
    }
    .hideIconTrue{
        display: none;
        position: absolute;
        top: 8px;
        right: 18px;
    }
    .blueBgColumn{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 80px;
        transition: 0.2s ease;
    }
    .hideFalse{
        display: flex;
    }
    .showFirstNavIconDiv{
        display: flex;
        padding: 0 7px;
    }
}
@media screen and (max-width: 350px){
    .secondNavMenu{
        padding: 10px;
    }
}
@media screen and (max-width: 320px){
    .inputDiv{
        width: inherit;
        margin-left: auto;
        margin-right: 0;
    }
    .secondNavMenu{
        padding: 2px;
    }
}