@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
--background-start-rgb: none !important;
}
body{
    font-family: '__Open_Sans_c8a2b8','__Open_Sans_Fallback_c8a2b8';
}
.navbar1MainDiv{
    background-color: #2B3445;
}
.blueBgColor{
    height: 40px;   
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
    justify-content: space-between;
    color:  white !important;
    transition: 0.2s ease;
}
.navbar{
    border-bottom: 1px solid #F3F5F9;
}
.navbarChildDiv{
    max-width: 1280px;
    margin: auto;
}
.firstNavParaDiv{
    color: white;
    display: flex;
    flex-direction: row;
    padding: 8px 24px;
    align-items: center;
}
.hideIcons{
    display: none;
    color: white;
}
.bgRedBut{
    font-family: sans-serif;
    font-weight: 800 !important;
    font-size: 12px;
    color: white;
    background-color: rgb(210, 63, 87);
    border-radius: 12px;
    width: fit-content;
    height: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;

    padding: 0 12px;
}
.shipNavPara{
    color: white;
    font-size: 12px;
    margin: 0 8px;
    /* font-family: '__Open_Sans_c8a2b8', sans-serif; */
    /* font-family: '__Open_Sans_c8a2b8 , __Open_Sans_Fallback_c8a2b8'; */
}
.langDiv{
    background-color: #2B3445;
    border: none;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 12px;
    margin-right: 11px !important;
}
.multiIcon{
    color: white !important;
    fill: currentColor;
    font-size: 17px;
    margin-left: 10px;
    margin-bottom: 4px;
}
.whiteBgColor{
    background-color: white;
    display: flex;
    flex-direction: row;
}
.posFixed{
    box-shadow: 0 1px 3px rgba(3, 0, 71, 0.09);
    margin-top: 0;
    transition: 0.3s ease;
    position: fixed;
    width: 100%;
    z-index: 20;
    background-color: white;
    top: 0;
    right: 0;
}
.navbar2{
    display: flex;
    padding: 18px 24px;
    max-width: 1280px;
    margin: auto;
    flex-direction: row;
    z-index: 20;
    width: 100%;
}
.loading{
    transition: none;
    margin-top: -100px;
}
.nav3{
    padding: 9px 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navPadding{
    padding-top: 90px;
}
button{
    display: flex;
    flex-direction: row;
    border: none;
}
.butIcon{
    color: black;
    font-size: 20px;
}
.catIcon{
    color: gray;
    fill: currentColor;
}
.catIconDiv{
    height: fit-content;
    display: flex;
    align-self: center;
    padding: 5px 7px;
    padding-right: 10px;
    margin-right: 40px;
    /* color: gray; */
}
.catIconDiv:hover{
    background-color: rgba(201, 201, 201, 0.1);
}
.hideIcon{
    opacity: 0;
}
.left{
    margin: 4px 2px;
    font-size: 12px;
}
.categories{
    font-family: 'Open sans', sans-serif;
    display: flex;
    font-size: 15px;
    color: gray;
    padding: 10px 8px;
}
.AllOptionDiv{
    position: absolute;
    top: 28%;
    display: flex;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
}
.hideOption{
    display: none;
}
.navCatOptionPara{
    width: 262px;
    padding: 10.5px 10px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    /* justify-content: flex-start; */
    align-items: flex-start;
    /* width: 100%; */
    /* padding: 10px ; */
}
.navCatOptionPara2{
    height: 220px;
    width: 25%;
}
.navCatOptionPara3{
    width: 500px !important;
    /* width: 100%; */
}
.navCatOptionHeading{
    font-size: 14px;
}
.firstDropDown{
    margin-right: 8px;
    background-color: white;
    flex-direction: column;
    z-index: 40;
    box-shadow: 0 5px 3px rgba(3, 0, 71, 0.09);
}
.secondDropDown{
    padding: 20px;
    margin-left: 10px;
    width: 760px;
    display: flex;
    align-items: flex-start !important;
    background-color: white;
    flex-direction: column;
    z-index: 40;
    box-shadow: 0 5px 3px rgba(3, 0, 71, 0.09);
}
.secondDropDown2{
    border-radius: 5px;
    height: fit-content;
    padding: 10px 20px;
    margin-left: 10px;
    width: 280px;
    background-color: white;   
    display: flex;
    align-items: flex-start !important;
    background-color: white;
    justify-content: space-between;
    flex-direction: column;
    z-index: 40;
    box-shadow: 0 5px 3px rgba(3, 0, 71, 0.09);
}
.secondDropDownDiv{
    display: flex;
    align-items: flex-start !important;
    flex-wrap: wrap;
    width: calc(100%-150px);
}
.secondDropDownDiv2{
    /* background-color: yellow; */
    width: 100%;
}
.dropDownPara{
    padding: 10px 0;
    font-size: 14px;
}
.dropDownNameDiv{
    display: flex;
    justify-content: space-between !important;
}
.column{
    display: flex;
    flex-direction: column;
}
.firstDropDown{
    padding: 7px;
}
.catPara{
    padding: 0 140px 0 9px;
}
.noBorder{
    border: none;
    outline: none;
    font-size: 15px;
    width: 474px;
    color: #2B3445;
}

.inputDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* outline: 3px solid rgb(210, 63, 87); */
    border: 1px solid rgb(200, 200, 200);
    border-radius: 30px;
    overflow: hidden;
    margin: 0 auto;
    color: #2B3445;
    opacity: 0.8;
}   
.row{
    display: flex;
    flex-direction: row;
    align-items: center;    
}
.catHead{
    height: 100%;
    width: fit-content;
    font-size: 14px;
    /* min-width: 180px; */
    padding: 0 25px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #F6F9FC;
    border-left: 1px solid rgb(220, 220, 220);
}
.centerPara{
    display: flex;
    align-items: center;
}
.searchIcon{
    padding: 0 5px;
    padding-left: 10px;
    padding-top: 2px;
    font-size: 18px;
}
.bazarPic{
    margin-right: 16px;
}
.catDownBut{
    padding-top: 3px;
    margin-left: 4px;
    margin-right: -6px;
    font-size: 16px;
}
.downCatBut{
    font-weight: 500;
    font-size: 15px;
    margin: 0;
    margin-left: 1px;
}
.twoIconDiv{
    font-size: 22px;
}
.navMainIcon{
    cursor: pointer;
    background-color: #F6F9FC;
    padding: 10px;
    border-radius: 100%;
    margin-left: 15px;
    height: 45px;
}
.secondNavHideItems{
    display: none;
}
.BottomNavbarMainDiv{
    width: 100%;
    height: 64px;
    background-color: white;
    position: fixed;
    bottom: 0;
    z-index: 30;
    box-shadow: 0px 1px 4px 3px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
}
.bottomIcon{
    font-size: 20px !important;
    padding: 0 !important;
    /* width: 100px; */
    /* background-color: aqua; */
    /* font-size: 28px !important; */
}
.BottomNavbarChildDiv{
    font-size: 13px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}
@media screen and (max-width: 1149px){
    .navMainIcon{
        background-color: white;
        margin: 0;
        padding: 10px 7px;
        border: none;
    }
    .secondNavMenu{
        padding: 10px;
        font-size: 40px;
    }
    .secondNavToHideItems{
        display: none;
    }
    .secondNavHideItems{
        display: flex;
        border-radius: 0;
        border: none;
        opacity: 1;
    }
    .twoIconDiv{
        margin-left: 25px;
    }
}
@media screen and (max-width: 599px){
    .navbar2{
        padding: 10px 16px;
    }
    .firstNavParaDiv{
        padding: 8px 16px;
    }
}
.linkPara{
    color: #2B3445;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    padding-left: 33px;
}
.allNavDownIcon{
    color: rgb(180, 180, 180);
    padding-top: 6px;
    padding-left: 4px;
}
.thirdDropDown{
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    justify-content: flex-start !important;
    padding: 20px;
    margin-left: 10px;
    /* width: 760px; */
    /* display: flex; */
    align-items: flex-start !important;
    background-color: white;
    /* flex-direction: column; */
    z-index: 40;
    box-shadow: 0 5px 3px rgba(3, 0, 71, 0.09);
}
@media screen and (max-width: 1149px){
    .nav3{
        display: none;
    }
    .navbar{
        border: none;
    }
    .catIconDiv{
        opacity: 0;
        /* display: none; */
    }
}
@media screen and (max-width: 599px){
    .firstNavIconDiv{
        display: none;
    }
    .hideIcons{
        font-size: 20px;
        position: absolute;
        top: 8px;
        right: 18px;
        display: flex;
    }
    .hideIconTrue{
        display: none;
        position: absolute;
        top: 8px;
        right: 18px;
    }
    .blueBgColumn{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 80px;
        transition: 0.2s ease;
    }
    .hideFalse{
        display: flex;
    }
    .showFirstNavIconDiv{
        display: flex;
        padding: 0 7px;
    }
}