@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.radioBut{
    display: flex;
    justify-content: center;
}
.radio{
    fill: inherit;
    color: black;
    cursor: pointer;
    margin: 4px;
}
.Header{
    padding: 0 59px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 520px;
    font-family: 'Open Sans', sans-serif;
}
.HeaderRow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
}
.HeaderItem{
    /* width: 100%; */
}
.HeaderIntroDiv{
    width: 38%;
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.HeaderIntroHead{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 600;
    margin: 10px 0;
    margin-top: 0;
    color: rgb(50, 50, 50);
}
.HeaderIntroPara{
    margin: 12px 0;
    font-size: 14px;
    color: #0F3460;
    line-height: 1.7;
}
.HeaderIntroBut{
    background-color: rgb(210, 63, 87);
    padding: 14px 40px;
    margin-top: 12px;
    border-radius: 5px;
    margin-right: auto;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.HeaderImgDiv{
    width: 63%;
    padding: 0;
    display: flex;
    flex-direction: row;
    padding: 30px 0;
    /* align-items: center; */
    justify-content: center;
}
.HeaderImg{
    width: 430px;
    height: 400px;
    margin-left: 60px;
}