@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.radioBut{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.radio{
    fill: inherit;
    color: black;
    cursor: pointer;
    margin: 4px;
}
.Header{
    /* padding: 0 59px; */
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 520px;
    font-family: 'Open Sans', sans-serif;
    max-width: 1280px;
    margin: auto;
    padding-bottom: 60px;
}
.HeaderRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* flex-wrap: wrap; */
    overflow: hidden;
    width: 50%;
    max-width: 1280px;
    min-height: 424px;
}
.HeaderItem{
    /* width: 100%; */
}
.HeaderIntroDiv{
    width: 50%;
    margin-top: 26px;
    /* padding-top: 44px; */
    /* padding: 30px 0; */
    /* width: 40%; */
    /* height: 470px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.HeaderIntroHead{
    font-family: sans-serif;
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 10px 0;
    margin-top: 0;
    color: rgb(50, 50, 50);
}
.HeaderIntroPara{
    margin: 12px 0;
    font-size: 14px;
    color: #0F3460;
    line-height: 1.7;
}
.HeaderIntroBut{
    background-color: rgb(210, 63, 87);
    padding: 14px 40px;
    margin-top: 12px;
    border-radius: 5px;
    margin-right: auto;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.HeaderImgDiv{
    max-height: 400px;
    /* width: 63%; */
    padding: 0;
    display: flex;
    flex-direction: row;
    padding: 30px 24px;
    padding-right: 0;
    /* align-items: center; */
    justify-content: center;
    /* padding: 24px; */
    width: 50%;
}
@media screen and (max-width: 1280px){
    .HeaderImgDiv{
        margin: 30px 0;
        /* margin: auto; */
        padding: 0 24px;
        padding-right: 0;
    }
    .Header{
        padding-bottom: 30px;
    }
}
@media screen and (max-width: 959px){
    .HeaderImgDiv{
        width: 51.5%;
        margin-top: 10px;
    }
    .HeaderIntroDiv{
        width: 48.5%;
    }
}
.HeaderImg{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 400px;
    /* margin-left: 60px; */
}
@media screen and (min-width: 959px){
    .HeaderImgDiv{
        width: 58.33%;
    }
    .HeaderIntroDiv{
        width: 41.77%;
    }
}
@media screen and (max-width: 599px){
    .Header{
        height: fit-content;
        padding: 0;
        padding-bottom: 30px;
    }
    .HeaderIntroHead{
        font-size: 31px !important;
    }
    .HeaderRow{
        /* width: 26%; */
        display: flex;
        flex-wrap: wrap;
    }
    .HeaderIntroHead{
        font-size: 34px;
    }
    .HeaderIntroDiv{
        width: 100% !important;
        height: inherit;
        padding: 0 14px;
        padding-top: 10px;
    }
    .HeaderImgDiv{
        width: 100% !important;
        padding: 0;
        margin: 20px 0 16px;
    }
}