.MoreForYouMainDiv{
    padding: 52px 12px 0;
    max-width: 1280px;
    margin: auto;
}
.MoreForHead{
    font-size: 24px;
    margin-left: 11px;
    margin-bottom: 9px;
}
.MoreForBoxDiv{
    width: 100%;
    /* width: calc(100% + 96px); */
}
.MoreForYouBoxDiv{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.flashBox3{
    width: calc(25% - 24px );
}
.MoreForHeadDiv{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1280px){
    .flashBox3{
        width: 31.4%;
    }
}