.CategoryHeadDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 4px;
    margin-bottom: 8px;
}
.CategoryHead{
    font-size: 26px;
}
.AllCategoriesMainDiv{
    max-width: 1280px;
    margin: auto;
    padding: 50px 0 0 12px;
}
.AllCatWhiteBg{
    width: 14.6% !important;
    margin: 12px;
    background-color: white;
    padding: 12px 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(3, 0, 71, 0.09);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 7px;
}
@media screen and (max-width: 1280px){
    .AllCatWhiteBg{
        width: 22.85% !important;
        margin: 12px 1.07% !important;
    }
}
@media screen and (max-width: 599px){
    .AllCategoriesMainDiv{
        padding-left: 4px !important;
    }
    .AllCatWhiteBg{
        width: 45.7% !important;
        margin: 1.75%;
    }
}