.catBox{
    display: flex;
    flex-direction: column;
    /* width: 20%; */
    width: 19%;
    background-color: white;
    padding: 15px;
    margin: 12px;
    border-radius: 10px;
    position: relative;
}
.catCarArrow{
    position: absolute !important;
    top: 38% !important;
}
.top40{
    top: 42% !important;
}
.categoryMainDiv{
    max-width: 1280px;
    margin: auto;
    padding: 6px 6px 18px;
    
}
.changeBg{
    background-color: #0F3460 !important;
    color: white !important;
}
.noChange{
    background-color: rgb(182, 197, 211) !important;
    color: black !important;
    cursor: not-allowed;
}
.catHeadDiv{
    margin-bottom: 6px !important;
}
.catImg{
    border-radius: 10px;
}
.absName{
    position: absolute;
    top: 30px;
    left: 30px;
    color: white;
    background-color: rgb(24, 38, 85);
    font-size: 10px;
    padding: 5px 15px;
    border-radius: 20px;
}
.absOrder{
    position: absolute;
    top: 30px;
    right: 30px;
    color: black;
    background-color: rgba(200, 200, 200, 0.4);
    font-size: 10px;
    padding: 5px 15px;
    border-radius: 20px;
}